{% extends 'padrao.html.twig' %}
{% block title %}{{ parent() }}Teste TWIG{% endblock %}
{% block body %}
    <div class="text-center titulo">
        <h1>Este é um animal {{ nome }} da raça {{ raca }}</h1>
    </div>
{% endblock %}